{
  "openapi": "3.1.0",
  "info": {
    "title": "AudienceScore Pilot API",
    "version": "0.2.0-pilot",
    "description": "Pilot deployment, pre-cryptographic-audit. The independent cryptographic review and per-vertical legal review gates remain open; the pilot ledger may be reset and receipts re-issued after the audit. Reading scores requires no authentication. Pilot receipts, review events, and score manifests carry env=\"pilot\" in the signed body.",
    "license": {
      "name": "CC BY 4.0",
      "identifier": "CC-BY-4.0"
    }
  },
  "servers": [
    {
      "url": "https://api.audiencescore.org",
      "description": "AudienceScore pilot API"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Pilot API health check",
        "responses": {
          "200": {
            "description": "Healthy pilot API",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Health" }
              }
            }
          }
        }
      }
    },
    "/v0/scores/{offering}": {
      "get": {
        "operationId": "getScore",
        "summary": "Get a signed pilot score manifest for an offering-version",
        "description": "Returns rendering v1 over the pilot ledger. The signed manifest body includes env=\"pilot\".",
        "parameters": [
          {
            "name": "offering",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Offering-version, for example field-elevate-demo@v1."
          },
          {
            "name": "window_end",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date-time" },
            "description": "Optional explicit rendering window end. Omitted means the server's request time."
          }
        ],
        "responses": {
          "200": {
            "description": "Signed pilot score manifest",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SignedScoreManifest" }
              }
            }
          },
          "400": { "description": "Unknown offering or invalid request" }
        }
      }
    },
    "/v0/scores/{offering}/evidence": {
      "get": {
        "operationId": "getScoreEvidence",
        "summary": "Get de-identified rendering input for recomputation",
        "description": "Returns the de-identified rendering input needed to recompute the signed score manifest. Holder identities and customer data are omitted; this is not a holder-to-offering directory.",
        "parameters": [
          {
            "name": "offering",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "window_end",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Pilot rendering evidence",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RenderingEvidence" }
              }
            }
          }
        }
      }
    },
    "/v0/reviews": {
      "post": {
        "operationId": "submitReview",
        "summary": "Submit a pilot review by presenting a signed receipt",
        "description": "The holder or their agent presents the signed pilot receipt JSON and a review. The server verifies the receipt, confirms it matches the pilot ledger, then spends the standing through the v0.2 store admission path.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SubmitReviewRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pilot review accepted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmitReviewResponse" }
              }
            }
          },
          "400": { "description": "Invalid, missing, unknown, or wrong-issuer receipt" },
          "409": { "description": "Receipt/standing already reviewed" }
        }
      }
    },
    "/v0/stripe/webhook": {
      "post": {
        "operationId": "stripeWebhook",
        "summary": "Stripe pilot webhook receiver",
        "description": "Receives checkout.session.completed and invoice.paid events for configured pilot issuers. Stripe webhook secrets are configured only on the VPS environment.",
        "responses": {
          "200": {
            "description": "Webhook handled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookResponse" }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "operationId": "mcpHttp",
        "summary": "Remote MCP HTTP JSON-RPC endpoint",
        "description": "Pilot HTTP JSON-RPC endpoint exposing initialize, tools/list, and tools/call for get_score.",
        "responses": {
          "200": { "description": "JSON-RPC response" }
        }
      }
    },
    "/docs/copy-to-llm": {
      "get": {
        "operationId": "copyToLlm",
        "summary": "Paste-ready integration brief for agent builders",
        "responses": {
          "200": { "description": "Plain-text Copy to LLM brief" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Health": {
        "type": "object",
        "required": ["ok", "env"],
        "properties": {
          "ok": { "type": "boolean" },
          "env": { "const": "pilot" }
        }
      },
      "SignedScoreManifest": {
        "type": "object",
        "required": ["manifest", "signer", "sig"],
        "properties": {
          "manifest": { "$ref": "#/components/schemas/ScoreManifest" },
          "signer": { "type": "string", "description": "Ed25519 SPKI public key, base64url" },
          "sig": { "type": "string", "description": "base64url Ed25519 signature over canonical manifest JSON" }
        }
      },
      "ScoreManifest": {
        "type": "object",
        "required": ["env", "rendering_version", "subject", "window_end", "published", "distinct_receipts"],
        "properties": {
          "env": { "const": "pilot" },
          "rendering_version": { "type": "string", "examples": ["audiencescore/rendering@1"] },
          "subject": { "type": "string", "examples": ["offering:field-elevate-demo@v1"] },
          "window_end": { "type": "string", "format": "date-time" },
          "published": { "type": "boolean" },
          "distinct_receipts": { "type": "integer" },
          "k_anonymity_floor": { "type": "integer" },
          "purchase_gate": { "type": "boolean" },
          "standing_class": { "type": "string" },
          "views": { "type": "object" },
          "completion_rate": { "type": ["number", "null"] },
          "sample_mix": { "type": "object" },
          "facets": { "type": ["object", "null"] },
          "review_texts": { "type": ["array", "null"], "items": { "type": "string" } },
          "issuer_disclosures": { "type": "object" },
          "cross_version": { "type": "boolean" }
        }
      },
      "RenderingEvidence": {
        "type": "object",
        "required": ["env", "offering", "reviews", "standings", "issuance", "window_end"],
        "properties": {
          "env": { "const": "pilot" },
          "offering": { "type": "object" },
          "reviews": { "type": "array", "items": { "type": "object" } },
          "standings": { "type": "array", "items": { "type": "object" } },
          "issuance": { "type": "array", "items": { "type": "object" } },
          "window_end": { "type": "string", "format": "date-time" }
        }
      },
      "Receipt": {
        "type": "object",
        "required": ["spec", "receipt_id", "issuer", "holder", "role", "offering", "level", "event", "issued_at", "prev", "env", "coattest", "sig"],
        "properties": {
          "spec": { "const": "as/0.2a" },
          "receipt_id": { "type": "string" },
          "issuer": { "type": "string" },
          "holder": { "type": "string", "description": "Pseudonymous holder binding; never plaintext customer identity" },
          "role": { "enum": ["participant", "payer"] },
          "offering": { "type": "string" },
          "level": { "type": "integer", "minimum": 1, "maximum": 4 },
          "event": { "type": "string" },
          "issued_at": { "type": "string", "format": "date-time" },
          "prev": { "type": ["string", "null"] },
          "env": { "const": "pilot" },
          "coattest": { "type": "array", "items": { "type": "string" } },
          "sig": { "type": "string" }
        }
      },
      "SubmitReviewRequest": {
        "type": "object",
        "required": ["receipt", "review"],
        "properties": {
          "receipt": { "$ref": "#/components/schemas/Receipt" },
          "review": {
            "type": "object",
            "required": ["overall"],
            "properties": {
              "overall": { "type": "integer", "minimum": 1, "maximum": 5 },
              "facets": { "type": "object", "additionalProperties": { "type": "integer", "minimum": 1, "maximum": 5 } },
              "text": { "type": ["string", "null"] }
            }
          }
        }
      },
      "SubmitReviewResponse": {
        "type": "object",
        "required": ["env", "reviewId", "reviewClass", "event"],
        "properties": {
          "env": { "const": "pilot" },
          "reviewId": { "type": "string" },
          "reviewClass": { "type": "string" },
          "event": { "type": "object" }
        }
      },
      "WebhookResponse": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": { "enum": ["issued", "duplicate", "ignored"] },
          "event_id": { "type": "string" },
          "receipt": { "$ref": "#/components/schemas/Receipt" },
          "claim_url": { "type": "string" }
        }
      }
    }
  }
}
